/* latin-ext */
@font-face {
  font-family: 'Fontin';
  font-style: Bold;
  font-weight: 400;
  src: local('Fontin Bold'), local('Fontin-Bold'), url(/fonts/fontin/Fontin-Bold.ttf) format('truetype');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}






body,
td,
th,
tr,
p,
a {
  font-family: 'Fontin';
  font-size: 14px
}


strong {
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: 14px;
}

heading {
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: 22px;
}

papertitle {
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700
}

name {
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}