@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Avenir.woff') format('woff'), 
  url('../fonts/Avenir.ttf')  format('truetype'), 
  url('../fonts/Avenir.svg#Avenir') format('svg');
}

body,
td,
th,
tr,
p,
a {
  font-family: 'AvenirNextLTPro-Regular';
  font-size: 14px
}


strong {
  font-family: 'AvenirNextLTPro-Regular';
  font-size: 14px;
}

heading {
  font-family: 'AvenirNextLTPro-Regular';
  font-size: 22px;
}

papertitle {
  font-family: 'AvenirNextLTPro-Regular';
  font-size: 14px;
  font-weight: 700
}

name {
  font-family: 'AvenirNextLTPro-Regular';
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}