body,
td,
th,
tr,
p,
a {
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 450;
}

a {
  color: rgb(96, 87, 255) !important;
}

a.btn {
  color: white !important;
}



.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: blueviolet !important;
  border-color: blueviolet !important;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
  background-color: crimson !important;
  border-color: crimson !important;
}

.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:visited {
  background-color: gold !important;
  border-color: gold !important;

}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
  background-color: rgb(1, 103, 58)!important;
  border-color: rgb(1, 103, 58) !important;
}

strong {
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: 14px;
}

heading {
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: 22px;
}

papertitle {
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

name {
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: 32px;
  font-variant: small-caps;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}